.heart {
    max-width: 50px;
    max-height: 50px;
    margin: 0.5rem;
}

.dialogBox {
    background-color: #EEECFF;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 30px;
    max-width: 200px;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: 2rem;
    margin-right: 1rem;
    margin-top: 0rem;
    margin-bottom: 1rem;
    box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
}

.bar {
    min-height: 60px;
    min-width: 80px;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    background-color: #EEECFF;
    border-radius: 100px;
    box-shadow: inset 5px 0px 5px 0px rgba(0, 0, 0, 0.25);
}

.box-container {
    margin-top: 1rem;
    margin-bottom: 10rem;
}

.game-button>img {
    scale: 0.75;
}

.game-button {
    border-radius: 50px;
    box-sizing: content-box;
    padding: 1rem;
    border: none;
    margin-top: 2rem;
    background-color: rgb(222, 112, 86,0.8);
    box-shadow: 2px 0px 5px 0px rgba(0, 0, 0, 0.25);
}

.game-button:hover{
    background-color: rgb(222, 112, 86,1.0);
    box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
}

.game-button img {
    display: block;
    width: 50px;
    height: 50px;
}

form{
    margin-left: 2rem;
    margin-bottom:2rem;
}

#prompt-container{
    background-color: #EEECFF;
    border-radius: 30px;
    min-width: 80px;
    min-height: 40px;
    max-height: 200px;
    max-width: 300px;
    margin-top:1rem;
    margin:1rem;
    padding:1.5rem;
}

#prompt-text{
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 40px;
    margin-bottom:1rem;
}

input{
    margin-top:1rem;
    min-width:200px;
    min-height: 40px;
}

#submit-button{
    margin-top:0.5rem;
    border-radius:30px;
    min-width: 50px;
    min-height: 30px;
    border:none;
    margin-left:2.5rem;
    background-color: rgb(222, 112, 86,1.0);
}

/* .game-button.a {

}

.game-button.b {}

.game-button.c {} */

.button-list {
    justify-content: center;
    gap: 3rem;
}